body {
  margin: 0;
  background-color: #add8e6; /* Light blue background */
  font-family: 'Roboto', sans-serif; /* Use Roboto font and fallback to sans-serif if needed */
  animation: backgroundColorChange 5s infinite;
}

@keyframes backgroundColorChange {
  0% {background-color: #3c4bd1;}
  10% {background-color: #2a4d94;}
  20% {background-color: #294d9b;}
  30% {background-color: #326ece;}
  40% {background-color: #2254bf;}
  50% {background-color: #0928c3;}
  60% {background-color: #7233e7;}
  70% {background-color: #6c62d1;}
  80% {background-color: #5e6fef;}
  90% {background-color: #3a65c9;}
  100% {background-color: #3148cb;}
}

.screen {
  background-color: white;
  box-sizing: border-box;
  margin: 15px auto;
  padding: 15px;
  max-width: 700px;
  width: calc(100vw - 30px);
  height: calc(100vh - 30px);
  border-radius: 10px; /* Rounded corners for the inner box */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow effect */
}

h1, h4 {
  text-align: center;
}

button {
  background-color: rgba(255, 255, 255, .7);
  border: none;
  outline: none;
  border-radius: 19px;
  box-shadow: 3px 3px 7px black;
  font-size: 24px;
  display: block;
  margin: 10px auto;
  min-height: 70px;
  width: 100%;
  transition: color 0.25s;
}

button:hover {
  color: #2a2ad1;
  background-color: rgb(200, 214, 226);
}

canvas {
  min-width: 100vw;
  min-height: 100vh;
  position: absolute;
  top: 0;
  z-index: -1;
}

a.help-btn {
  background-color: rgba(255, 255, 255, .7);
  border: none;
  outline: none;
  border-radius: 19px;
  box-shadow: 3px 3px 7px black;
  font-size: 24px;
  display: block;
  margin: 10px auto;
  min-height: 70px;
  width: 100%;
  transition: color 0.25s;
  text-align:center;
  align-items: center;
}

a.help-btn:hover {
  background-color: rgba(0, 123, 255, 0.8);
}


  
